<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Booklary</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Anasayfa</a>
        </li>
      </ul>
      <div class="auth-route">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle btn-sm bg-light border text-dark"  type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Sepet {{ count }} adet ürün
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Sepete Git</a></li>
            <!-- <button (click)="reset()" class="btn btn-danger btn-sm">Sepeti Boşalt</button> -->
            <!-- <button routerLink="/user/cart-detail" class="btn btn-info btn-sm">Sepeti Görüntüle</button> -->
          </ul>
          <button *ngIf="!auth" routerLink="/login" class="btn btn-info btn-sm mx-1 text-white">Login</button>
          <button *ngIf="auth" (click)="logout()"  class="btn btn-primary btn-sm" style="margin-left: 1rem;">Logout</button>
        </div>
      </div>
    </div>
  </div>
</nav>