<div class="col-md-12 d-flex flex-wrap">
  <div>

  </div>
  <div *ngFor="let book of bookService.books" class="col-md-4 p-3">
    <div>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{ book.name }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>{{ book.desc }}</p>
          <p>{{ book.price | currency: "TRY":"":"" }}</p>
          <p>{{ book.author }}</p>
        </mat-card-content>
        <mat-card-actions class="cart-button">
          <button (click)="addToCart(book)"  mat-raised-button color="primary">Sepete Ekle</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>