<div class="col-md-12 login-page">
  <div class="col-md-4 offset-md-4">
    <div class="card">
      <div class="card-header">
        <h2>Login Page</h2>
      </div>
      <div class="card-body form">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
          <div class="form-field">
            <label class=" w-25" for="">Email: </label>
            <input class="form-control form-control-sm w-75" formControlName="email" type="email" name="mail" id="mail">
          </div>
          <div class="form-field">
            <label class=" w-25" for="">Şifre: </label>
            <input class="form-control form-control-sm w-75" formControlName="password" type="password" name="password" id="password">
          </div>
          <div class="form-field d-flex flex-nowrap">
            <button class="submit-btn" mat-button>Giriş Yap</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>