.form {
  margin-top: 1rem;
}


.form-field {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;

  label {
    padding-top: .4rem;
    font-weight: 600;
  }

  .submit-btn {
    margin-left: auto;
    border: 1px solid #f3f3;
  }
}
